<p>
  <strong>name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>status:</strong>
  <%= @category.status %>
</p>

<p>
  <strong>description:</strong>
  <%= @category.description %>
</p>
<%= link_to 'Show All categories', categories_path %>